In [1]:
import numpy as np
import pandas as pd

In [7]:
# numpy version check
print(np.__version__)
# pandas version
print(pd.__version__)

1.16.5
0.25.1

In [2]:
# read the data
data=pd.read_csv("first.csv")
data

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
27805,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27806,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27807,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27808,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27809,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [3]:
# checking output type
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [6]:
# to check the shape
print(data.shape)
# to get the number of rows or instances or records
print(data.shape[0])
# to get number of columns or features or attributes
print(data.shape[1])

(27810, 10)
27810
10

In [8]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list are not
        allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : boolean, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [10]:
print(data.columns)
print(data.index)

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')
RangeIndex(start=0, stop=27810, step=1)

In [13]:
# datatype of each column
print(data.dtypes)
# what is output type of data,dtypes
print(type(data.dtypes))
# access the first column dtype
print(data.dtypes[0])
# access the last column dtype
print(data.dtypes[-1])

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object
<class 'pandas.core.series.Series'>
int64
object

####  observe the data

In [14]:
# display top n rows
data.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...

In [15]:
# display top 10 rows
data.head(10)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...
5,2018,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,34223,ANZSIC06 divisions A-S (excluding classes K633...
6,2018,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,7124,ANZSIC06 divisions A-S (excluding classes K633...
7,2018,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,19863,ANZSIC06 divisions A-S (excluding classes K633...
8,2018,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,106351,ANZSIC06 divisions A-S (excluding classes K633...
9,2018,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,297,ANZSIC06 divisions A-S (excluding classes K633...

In [16]:
# display last 3 rows
data.tail(3)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
27807,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27808,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27809,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [17]:
# select a random row
data.sample()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
16133,2015,Level 4,FF115,Other Goods Wholesaling,Dollars (millions),H11,Depreciation,Financial performance,126,"ANZSIC06 groups F371, F372, and F373"

In [18]:
data.sample(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
24776,2013,Level 3,CC91,Furniture and Other Manufacturing,Percentage,H39,Return on equity,Financial ratios,38,ANZSIC06 groups C251 and C259
26268,2013,Level 1,KK,Financial and Insurance Services,Dollars (millions),H10,Indirect taxes,Financial performance,78,ANZSIC06 division K
3756,2018,Level 4,MN114,Veterinary and Other Professional Services,Dollars (millions),H09,Interest and donations,Financial performance,15,ANZSIC06 groups M697 and M699
27001,2013,Level 3,MN21,Administrative and Support Services,Dollars (millions),H13,Redundancy and severance,Financial performance,7,ANZSIC06 division N
18164,2015,Level 4,QQ112,Medical and Other Health Care Services,Dollars (millions),H12,Salaries and wages paid,Financial performance,3250,"ANZSIC06 groups Q851, Q852, Q853, and Q859"

In [22]:
print(type(data.head(1)))
print(type(data.tail(1)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

#### info about dataframe

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27810 entries, 0 to 27809
Data columns (total 10 columns):
Year                           27810 non-null int64
Industry_aggregation_NZSIOC    27810 non-null object
Industry_code_NZSIOC           27810 non-null object
Industry_name_NZSIOC           27810 non-null object
Units                          27810 non-null object
Variable_code                  27810 non-null object
Variable_name                  27810 non-null object
Variable_category              27810 non-null object
Value                          27810 non-null object
Industry_code_ANZSIC06         27810 non-null object
dtypes: int64(1), object(9)
memory usage: 2.1+ MB

In [24]:
print(type(data.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27810 entries, 0 to 27809
Data columns (total 10 columns):
Year                           27810 non-null int64
Industry_aggregation_NZSIOC    27810 non-null object
Industry_code_NZSIOC           27810 non-null object
Industry_name_NZSIOC           27810 non-null object
Units                          27810 non-null object
Variable_code                  27810 non-null object
Variable_name                  27810 non-null object
Variable_category              27810 non-null object
Value                          27810 non-null object
Industry_code_ANZSIC06         27810 non-null object
dtypes: int64(1), object(9)
memory usage: 2.1+ MB
<class 'NoneType'>

In [ ]:
# column count for each datatype
# how many columns are there with int64
# how many columns are there with float64
# how many columns are there with object
data.

#### accessing a single column

In [25]:
data.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [26]:
data.Year

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
27805    2013
27806    2013
27807    2013
27808    2013
27809    2013
Name: Year, Length: 27810, dtype: int64

In [27]:
data['Year']

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
27805    2013
27806    2013
27807    2013
27808    2013
27809    2013
Name: Year, Length: 27810, dtype: int64

In [32]:
type(data.Year)

pandas.core.series.Series

#### specific column datatype

In [35]:
data.statecode.dtype

AttributeError: 'DataFrame' object has no attribute 'statecode'

##### difference between dtype and dtypes
 - dataframe object doesnit have dtype

- Numerical columns - int or float data
    - mean,median,mode,sum,min,max,quartiles
- Categorical columns -  object type(string data)
- Boolean data - true or false

In [36]:
data.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [37]:
data.Year

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
27805    2013
27806    2013
27807    2013
27808    2013
27809    2013
Name: Year, Length: 27810, dtype: int64

In [38]:
data.Year.dtype

dtype('int64')

In [39]:
# mean value of a column
data.Year.mean()

2015.5

In [41]:
data.Year.sum()/data.Year.shape[0]

2015.5

In [42]:
# min value
data.Year.min()

2013

In [43]:
# max value
data.Year.max()

2018

In [45]:
data.Year.mode()

2013

In [46]:
data.Year.mode()[0]

2013

In [52]:
print(data.Year.median())
print(data.Year.count())

2015.5
27810

In [48]:
# range of values ina column
(data.Year.min(),data.Year.max())

(2013, 2018)

In [49]:
data.Variable_name.dtype

dtype('O')

In [50]:
# how many non null values are there
data.Variable_name.count()

27810

In [55]:
# for each unique value what is the count
data.Variable_name.value_counts()
# output type is series
# in that series the labels are unique value
# the value for that label is how many times it occured in that column
# the final dtype refers to the value type of series.count is integer

Opening stocks                                           834
Non-operating income                                     834
Total income                                             834
Liabilities structure                                    834
Non-operating expenses                                   834
Indirect taxes                                           834
Salaries and wages paid                                  834
Interest, dividends and donations                        834
Interest and donations                                   834
Total expenditure                                        834
Return on equity                                         834
Depreciation                                             834
Closing stocks                                           834
Total equity and liabilities                             834
Shareholders funds or owners equity                      834
Redundancy and severance                                 834
Surplus before income tax                                834
Return on total assets                                   834
Total assets                                             834
Other assets                                             804
Current liabilities                                      804
Quick ratio                                              804
Current assets                                           804
Fixed tangible assets                                    804
Current ratio                                            804
Other liabilities                                        804
Total income per employee count                          762
Surplus per employee count                               762
Additions to fixed assets                                720
Disposals of fixed assets                                720
Government funding, grants and subsidies                 666
Purchases and other operating expenses                   522
Sales of goods and services                              354
Sales of other goods and services                        312
Margin on sales of goods for resale                      312
Purchases of goods bought for resale                     312
Sales of goods not further processed                     312
Other Purchases and operating expenses                   260
Sales, government funding, grants and subsidies          168
Salaries and wages to self employed commission agents    102
Other purchases and operating expenses                    52
Name: Variable_name, dtype: int64

In [58]:
# how many unique values in the count
data.Variable_name.nunique()
print(data.Variable_name.value_counts().shape[0])

41

In [57]:
# gives unique names
data.Variable_name.unique()

array(['Total income', 'Sales, government funding, grants and subsidies',
       'Interest, dividends and donations', 'Non-operating income',
       'Total expenditure', 'Interest and donations', 'Indirect taxes',
       'Depreciation', 'Salaries and wages paid',
       'Redundancy and severance',
       'Salaries and wages to self employed commission agents',
       'Purchases and other operating expenses', 'Non-operating expenses',
       'Opening stocks', 'Closing stocks', 'Surplus before income tax',
       'Total assets', 'Current assets', 'Fixed tangible assets',
       'Other assets', 'Total equity and liabilities',
       'Shareholders funds or owners equity', 'Current liabilities',
       'Other liabilities', 'Total income per employee count',
       'Surplus per employee count', 'Current ratio', 'Quick ratio',
       'Return on equity', 'Return on total assets',
       'Liabilities structure', 'Sales of goods and services',
       'Government funding, grants and subsidies',
       'Additions to fixed assets', 'Disposals of fixed assets',
       'Sales of goods not further processed',
       'Sales of other goods and services',
       'Purchases of goods bought for resale',
       'Other Purchases and operating expenses',
       'Margin on sales of goods for resale',
       'Other purchases and operating expenses'], dtype=object)

In [60]:
data.Variable_name.value_counts().index

Index(['Opening stocks', 'Non-operating income', 'Total income',
       'Liabilities structure', 'Non-operating expenses', 'Indirect taxes',
       'Salaries and wages paid', 'Interest, dividends and donations',
       'Interest and donations', 'Total expenditure', 'Return on equity',
       'Depreciation', 'Closing stocks', 'Total equity and liabilities',
       'Shareholders funds or owners equity', 'Redundancy and severance',
       'Surplus before income tax', 'Return on total assets', 'Total assets',
       'Other assets', 'Current liabilities', 'Quick ratio', 'Current assets',
       'Fixed tangible assets', 'Current ratio', 'Other liabilities',
       'Total income per employee count', 'Surplus per employee count',
       'Additions to fixed assets', 'Disposals of fixed assets',
       'Government funding, grants and subsidies',
       'Purchases and other operating expenses', 'Sales of goods and services',
       'Sales of other goods and services',
       'Margin on sales of goods for resale',
       'Purchases of goods bought for resale',
       'Sales of goods not further processed',
       'Other Purchases and operating expenses',
       'Sales, government funding, grants and subsidies',
       'Salaries and wages to self employed commission agents',
       'Other purchases and operating expenses'],
      dtype='object')

In [61]:
data.describe()

               Year
count  27810.000000
mean    2015.500000
std        1.707856
min     2013.000000
25%     2014.000000
50%     2015.500000
75%     2017.000000
max     2018.000000

In [62]:
type(data.describe())

pandas.core.frame.DataFrame

In [63]:
data.describe().columns

Index(['Year'], dtype='object')

In [72]:
data1=pd.read_csv("first.csv")
data1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
1,2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2,2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
3,2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
4,2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
27805,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27806,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27807,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27808,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
27809,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [74]:
data1.describe(include=np.int64)

               Year
count  27810.000000
mean    2015.500000
std        1.707856
min     2013.000000
25%     2014.000000
50%     2015.500000
75%     2017.000000
max     2018.000000

In [75]:
data.iloc[1,:]

Year                                                                        2018
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H04
Variable_name                    Sales, government funding, grants and subsidies
Variable_category                                          Financial performance
Value                                                                     605766
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 1, dtype: object

In [76]:
data.loc[1,:]

Year                                                                        2018
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H04
Variable_name                    Sales, government funding, grants and subsidies
Variable_category                                          Financial performance
Value                                                                     605766
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 1, dtype: object

In [78]:
data.iloc[1,1]

'Level 1'

In [82]:
data1.loc[1,"statecode"]

KeyError: 'statecode'

In [83]:
data1.iloc[1,1:3]

Industry_aggregation_NZSIOC    Level 1
Industry_code_NZSIOC             99999
Name: 1, dtype: object

In [86]:
data.loc[1:3,"statecode":"Year"]

KeyError: 'statecode'

In [85]:
data.Year.nunique()

6

In [87]:
data.set_index("Year")

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [88]:
df=data.set_index("Year")
df.head()

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2018,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,691859,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,605766,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,63509,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,22583,ANZSIC06 divisions A-S (excluding classes K633...
2018,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,597623,ANZSIC06 divisions A-S (excluding classes K633...